<%-include header%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/theme/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>About me</h1>
                        <span class="meta">Nguyễn Lý Minh Mẫn</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" style="text-align: justify">
                    <p>My name is Cuong Ba (Cuong Ba Ngoc), you may call me Cuong. I am a Software Engineer and I improving
                        my skills to become a full-stack developer. Now, I working as Web Developer in Ha Noi, Viet Nam.
                        I like to share and be shared knowledge and experiences with other people, because it is the way
                        quickly to improve myself.
                    </p>

                    <p>I graduated from Post and Telecommunication Institute of Technology with a Engineering Software degree.
                        I very like studying new technologies and special is open-source platform. I have many loves for
                        Linux, Git, Python, Java and all linux-based technologies.
                    </p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <%-include footer%>